// app/assets/stylesheets/recourse.scss

// ====================
// GLOBAL VARIABLES
// ====================

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$font: 'Lato', sans-serif;

// $gradient-purple: linear-gradient(to left, #9D50BB , #6441A5);


// Config Colors
// tomato = hsl(9, 100%, 64%)
$primary-hue:        214;
$primary-saturation: 79%;
$primary-brightness: 65%;

// Define Colors
$primary:         hsl($primary-hue, $primary-saturation, $primary-brightness);
$primary-light:   lighten($primary, 20%);
$primary-lighter: lighten($primary, 30%);
$primary-dark:    darken($primary, 20%);
$primary-darker:  darken($primary, 40%);

$base:         hsl(0, 0%, 30%);
$base-light:   lighten($base, 20%);
$base-lighter: lighten($base, 40%);
$base-dark:    darken($base, 20%);
$base-darker:  darken($base, 40%);





// ====================
// MAIN
// ====================

body {
  font-family: $font;
  font-size: 11pt;
  color: $base !important;
}

a {
  text-decoration: none !important;
  color: $primary;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $primary-dark;
  }

  &:visited {
    color: $primary-dark;
  }

  &:visited:hover {
    color: $primary-darker;
  }
}

a.button {
  border: 1px solid $primary;
  border-radius: 4px;
  margin: 0 0.4em;
  padding: 0.4em 0.6em;

  &:hover {
    border-color: $primary-dark;
    background: $primary-lighter;
  }
}

a.button.cancel {
  border: 1px solid $base-light;
  color: $base-light;

  &:hover {
    border-color: $base;
    background: #fafafa;
    color: $base;
  }
}

a.button.delete {
  border: 1px solid lighten(#DA4453, 10%);
  color: lighten(#DA4453, 10%);

  &:hover {
    border-color: #DA4453;
    background: lighten(#DA4453, 40%);
    color: #DA4453;
  }
}

.external-link {
  display: inline-block;
}

.upvote {
  color: $base-lighter;

  &:hover {
    color: lighten(#8CC152, 10%);
  }
}

.upvote.active {
  color: #8CC152 !important;

  &:hover {
    color: $base-lighter;
  }
}

.downvote {
  color: $base-lighter;

  &:hover {
    color: lighten(#DA4453, 10%);
  }
}

.downvote.active {
  color: #DA4453;

  &:hover {
    color: $base-lighter;
  }
}



// ====================
// POSTS INDEX
// ====================

.index-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  width: 100%;
}

.header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1em;
  min-width: 180px;
  font-size: 14pt;

  .button {
    margin-left: 1em;
  }
}

.post-table {

  &:first-child {
    border-top: 1px solid $base-lighter;
  }

  .post {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $base-lighter;
    padding: 0.6em 0;

    &:hover {
      background: #fafafa;
    }

    .votes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0.8em;

      .score {
        margin: 0.2em 0;
        font-size: 0.9em;
        color: $base-lighter;
      }

      i {
        font-size: 1.4em;
      }
    }

    .content {
      width: 100%;
      padding-right: 0.8em;

      .heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.3em;

        .title {
          font-size: 1.3em;
          font-weight: 700;
        }
      }

      .stats {
        padding-bottom: 0.3em;
        color: $base-lighter;
      }

      .body {

        i {
          margin-right: 0.2em;
        }
      }
    }
  }
}



// ====================
// POST SHOW
// ====================

.post-show {
  display: flex;

  .votes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.6em;
    padding: 0 0.8em;
    height: 100%;

    .score {
      margin: 0.1em 0;
      font-size: 1em;
      color: $base-lighter;
    }

    i {
      font-size: 1.4em;
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    width: 100%;

    .heading {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.6em;
      width: 100%;
    }
  }
}



// ====================
// FORMS
// ====================


form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .field {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    margin-bottom: 1em;
    border: 1px solid $base-light;
    border-radius: 3px;
    padding: 0.4em 0.6em;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  input[type="checkbox"] {
    position: relative !important;
    margin: 0 !important;
    margin-right: 0.4em;
  }

  button {
    margin: 1em 0;
    border: 1px solid $base-light;
    border-radius: 3px;
    padding: 1em;
    background: #fff;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;

    &:hover {
      background: #fafafa;
      transition: 0.6s;
    }
  }
}
