// app/assets/stylesheets/recourse.scss

// ====================
// GLOBAL VARIABLES
// ====================

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$font: 'Lato', sans-serif;

// $gradient-purple: linear-gradient(to left, #9D50BB , #6441A5);


// Config Colors
// tomato = hsl(9, 100%, 64%)
$primary-hue:        214;
$primary-saturation: 79%;
$primary-brightness: 65%;

// Define Colors
$primary:        hsl($primary-hue, $primary-saturation, $primary-brightness);
$primary-light:  lighten($primary, 10%);
$primary-dark:   darken($primary, 10%);
$primary-darker: darken($primary, 25%);

$base:       hsl(0, 0%, 20%);
$base-light: lighten($base, 10%);



// ====================
// MAIN
// ====================

body {
  font-family: $font;
  font-size: 11pt;
  color: $base !important;
}

a {
  text-decoration: none !important;
  color: $primary;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $primary-dark;
  }

  &:visited {
    color: $primary-dark;
  }

  &:visited:hover {
    color: $primary-darker;
  }
}



// ====================
// PANEL
// ====================

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .panel-title {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}



// ====================
// FORMS
// ====================


form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    margin: 1em 0;
    border: 1px solid $base-light;
    border-radius: 3px;
    padding: 1em;
  }

  textarea {
    resize: vertical;
  }

  input[type="checkbox"] {
    margin-right: 0.4em;
  }

  button {
    margin: 1em 0;
    border: 1px solid $base-light;
    border-radius: 3px;
    padding: 1em;
    background: #fff;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;

    &:hover {
      background: #fafafa;
      transition: 0.6s;
    }
  }
}
