// app/assets/stylesheets/recourse.scss

// ====================
// GLOBAL VARIABLES
// ====================

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$font: 'Lato', sans-serif;

// $gradient-purple: linear-gradient(to left, #9D50BB , #6441A5);


// Config Colors
// tomato = hsl(9, 100%, 64%)
$primary-hue:        9;
$primary-saturation: 100%;
$primary-brightness: 64%;

// Base Colors
$primary:       hsl($primary-hue, $primary-saturation, $primary-brightness);
$primary-light: lighten($primary, 10%);
$primary-dark:  darken($primary, 10%);



// ====================
// MAIN
// ====================

body {
  font-family: $font;
}

a {
  text-decoration: none !important;
  color: $primary;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $primary-light;
  }
}



// ====================
// PANEL
// ====================

.panel-heading {
  display: flex;
  justify-content: space-between;
}
