<div class="col-md-3 col-md-push-9">
  <div class="well well-sm">
    <form>
      <h4>Search</h4>
      <input id="search-box"type="text" data-ng-model="vm.searchTerm">
      <h4>Filter</h4>
      <label><input type="checkbox" />My Favorites</label>
      <label><input type="checkbox" />My Posts</label>
    </form>
  </div>
</div>

<div class="col-md-9 col-md-pull-3">
  <h1>Resources<span class="header-link"><a class="button" data-toggle="modal" data-target="#newPostModal">New</a></span></h1>
  <div class="post-table" data-ng-repeat="post in vm.posts | filter:vm.searchTerm | orderBy: 'created_at':true">

    <div class="post">
      <div class="votes">
        <a class="upvote" data-ng-class="(vm.get_user_vote_type(post) == 'up') ? 'active' : ''" data-ng-click="vm.vote(post, 'up')"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <span class="score">{{vm.count_votes(post)}}</span>
        <a class="downvote" data-ng-class="(vm.get_user_vote_type(post) == 'down') ? 'active' : ''" data-ng-click="vm.vote(post, 'down')"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
      <div class="content">
        <div class="heading">
          <a class="title" data-ui-sref="postShow({id: post.id})">{{post.title}}</a>
          <a data-ng-if="!vm.check_favorites(post) && vm.currentUser" data-ng-click="vm.add_favorite(post)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          <a data-ng-if="vm.check_favorites(post) && vm.currentUser" data-ng-click="vm.remove_favorite(post)"><i class="fa fa-star" aria-hidden="true"></i></a>
        </div>
        <div class="stats">
          <span><em>submitted at {{post.created_at}} by {{post.user.email}}</em></span>
        </div>
        <div class="body">
          <span>{{post.desc_what}}</span>
          <span am-time-ago="post.created_at | amUtcParse:'YYYY.MM.DD HH:mm:ss'"></span>
          <a href="{{post.link}}"><i class="fa fa-external-link-square" aria-hidden="true"></i><em>Go To Resource</em></a>
        </div>
      </div>
    </div>

  </div>
</div>



<div id="newPostModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <form method="POST">
          <input placeholder="Title" type="text" data-ng-model="post.title" />
          <input placeholder="Link" type="text" data-ng-model="post.link" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.create(post)">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
