<div class="col-md-3 col-md-push-9">
  <div class="well well-sm">
    <h4>Search</h4>
    <input id="search-box"type="text" data-ng-model="vm.searchTerm">
    <h4>Filter</h4>
    <label><input type="checkbox" />My Favorites</label>
    <label><input type="checkbox" />My Posts</label>
  </div>
  <button type="button" class="btn btn-default" id="signUpModalButton" data-toggle="modal" data-target="#newPostModal">New Post</button>
</div>

<div class="col-md-9 col-md-pull-3">
  <div data-ng-repeat="post in vm.posts | filter:vm.searchTerm | orderBy: 'created_at':true">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a data-ui-sref="postShow({id: post.id})">{{post.title}}</a></h3>
        <a data-ng-if="!vm.check_favorites(post) && vm.currentUser" data-ng-click="vm.add_favorite(post)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a data-ng-if="vm.check_favorites(post) && vm.currentUser" data-ng-click="vm.remove_favorite(post)"><i class="fa fa-star" aria-hidden="true"></i></a>
      </div>
      <div class="panel-body">
        <span am-time-ago="post.created_at | amParse:'YYYY.MM.DD HH:mm:ss'"></span>
        <a href="{{post.link}}"><i class="fa fa-external-link-square" aria-hidden="true"></i> Go To Resource</a>
      </div>
    </div>

  </div>
</div>



<div id="newPostModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <form method="POST">
          <input placeholder="Title" type="text" data-ng-model="post.title" />
          <input placeholder="Link" type="text" data-ng-model="post.link" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.create(post)">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
